# Binaries and tools
*.zip
*.exe
gh_cli/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!example.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Debugging
debug_index.html
